@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Electrolize&display=swap');

body {
    background-color:  #F9F9F1;
    font-family: "Electrolize";
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

h1 {
    font-family: "Eagle lake";
    color: #CC4716;
}

h2 {
    font-family: "Electrolize";
    color: #0D4157;
}

#logo {
    grid-row: 2/4;
    grid-column: 1;
}

.logo {
    width: 150px;
}

.hero {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#hero {
    grid-row: 1/3;
    grid-column: 1;
}

header {
    display: grid;
    grid-template-rows: 225px 75px 75px auto;
}

nav {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-self: center;
    background-color: #0D4157;
    border-radius: 10px;
}

nav a {
    color: #F9F9F1;
    text-decoration: none;
    padding: 10px;
    align-self: center;
}

nav a:hover {
    background-color: #CC4716;
    color: #F9F9F1;
    border-radius: 7px;
    margin: 5px
}

#highlight-video {
    margin-top: 40px;
}