@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Electrolize&display=swap');

body {
    background-color:  #F9F9F1;
    font-family: "Electrolize";
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

h1 {
    font-family: "Eagle lake";
    color: #CC4716;
}

h2 {
    font-family: "Electrolize";
    color: #0D4157;
}

#logo {
    grid-row: 2/4;
    grid-column: 1;
}

.logo {
    width: 150px;
}

.hero {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#hero {
    grid-row: 1/3;
    grid-column: 1;
}

header {
    display: grid;
    grid-template-rows: 225px 75px 75px auto;
}